[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tranhthiennhan
[access "refs/for/refs/*"]
	read = group user/tranhthiennhan
	push = group user/tranhthiennhan
	label-Code-Review = -2..+2 group user/tranhthiennhan
	label-Verified = -1..+1 group user/tranhthiennhan
	rebase = group user/tranhthiennhan
	removeReviewer = group user/tranhthiennhan
	submit = group user/tranhthiennhan
[access "refs/heads/*"]
	read = group user/tranhthiennhan
	create = group user/tranhthiennhan
	push = +force group user/tranhthiennhan
	pushMerge = group user/tranhthiennhan
[access "refs/tags/*"]
	push = group user/tranhthiennhan
	push = +force group user/tranhthiennhan
[project]
	description = review GerritHub
